  body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background: #f3f3f3;
        }

        header {
            background: #1a73e8;
            color: white;
            padding: 15px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }

        #info {
            background: #ffffff;
            padding: 10px;
            margin: 10px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
         #mensaje {
            background: #ffffff;
            padding: 10px;
            margin: 10px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }


        #contenedor {
            display: flex;
            gap: 10px;
            padding: 10px;
        }

        #menu {
            width: 200px;
            background: #ffffff;
            padding: 10px;
            border-radius: 6px;
            min-height: 300px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

        #contenido {
            flex: 1;
            background: #ffffff;
            padding: 15px;
            border-radius: 6px;
            min-height: 400px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

        .btnMenu {
            width: 100%;
            padding: 10px;
            margin-bottom: 8px;
            border: none;
            background:blue;
            color: white;
            border-radius: 5px;
        }


#modal1 {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        #contenidoModal {
            position: relative;
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
           
            border-radius: 10px;
        }

        .close {
            color: red;
            position: absolute;
            top: 250px;
            left: 500px;
            font-size: 28px;
            font-weight: bold;
            background: none;
            border: none;
            cursor: pointer;
        }